h2 {
    line-height: 20px;
}

/**
 * Pagina !Expenses
 */

#no-expenses {
	text-align: center;
	margin-top: 25%;	
}

.date-period {
	margin-right: 2px;
}

a#period-reset i.fa {
	font-size: 20px;
	margin-left: 10px;
    margin-top: 2px;	
}

fieldset#period {
    margin-top: 10px;	
}

a.link-danger {
	color: #E74C3C;
}

a.action-link {
	margin-left: 2px;
	margin-right: 2px;
}

a.action-link:hover {
	text-decoration: none;	
}

#logo {
	width: 32px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 7px;	
}

.panel_toolbox {
	min-width: 0px;
}

.alert.alert-create {
	width: 48%;
	margin-left: auto;
	margin-right: auto;
}

.alert.alert-login {
	text-shadow: none;
}

.dot-color {
	width: 20px;
	height: 20px;
	background-color: #000;	
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin: 0px;
    float: right;    
}

/**
 * Pagina !Category
 */

#new-category-button {
	margin-left: 10px;
    margin-bottom: 0px;
}